@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app{
    @include m.tablet{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen{
        background-image: url(../img/1.jpg);
        background-size: cover;
        background-position: center center;
        height: 20rem;
        @include m.tablet{
            height: auto;
        }
    }
    
    .app{
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet{  
            overflow: scroll;//esto permite el scroll hacia el contenido
            overflow-x: hidden;
            margin-right: 0;
            padding-right: 1.5rem;
        }
        &::-webkit-scrollbar { //se utiliza para personalizar el aspecto de la barra de desplazamiento en los navegadores basados en WebKit, como Google Chrome y Safari.
            width: 0.9rem;
        }

        &::-webkit-scrollbar-thumb { //se utiliza para personalizar el aspecto del control deslizante de la barra de desplazamiento en los navegadores basados en WebKit, como Google Chrome y Safari.
            background-color: rgba(255, 255, 255, 0.048);
            border-radius: 5px;
        }
    }
}

.barra{
    margin: v.$separacion 0;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .boton{
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios{
    margin-bottom: v.$separacion;

    @include m.tablet{
        display: flex;
        justify-content: space-between;
    }

    .boton{
        margin: 0 0 1rem 0;
    }
}